# === User-specified folders ===
cache/
coremods/
crash-reports/
data/
defaultconfigs/
downloads/
ESM/
fancymenu_data/
local/
logs/
replay_recordings/
saves/
schematics/
screenshots/
server-resource-packs/
texturepacks/
config/litematica/
config/spark/tmp/
config/spark/tmp-client/
XaeroWaypoints_BACKUP240807/
xaero/
dynamic-data-pack-cache/
dynamic-resource-pack-cache/
moonlight-global-datapacks/
controllable_natives/
ldlib2/
Sable-Schematics/

# === User-specified hidden folders ===
.*/
*/.index/

# === User-specified files ===
realms_persistence.json
command_history.txt
ponders_watched.json
options.txt
usercache.json
debug-profile.json
config/iris.properties
config/vmp.properties
config/voicechat/voicechat-client.properties
config/drippyloadingscreen/early_window_reference.properties
servers.dat
servers.dat_old
usernamecache.json
config/emi-accelerator/stack-cache.json
config/emi-accelerator/reload-timings.json
config/crash_assistant/modlist.json
emi.json


# === Server Tools ===
config/neoessentials
neoessentials/

# === General modpack exclusions ===
*.log
*.lock
*.bat
*.exe
*.dll
*.so
*.dylib
*.class

# === Launcher / instance files ===
instance.cfg
mmc-pack.json
*.packignore

# === IDE & editor files ===
.idea/
*.iml
*.iws
*.ipr
out/

# === Temporary & backup files ===
*.tmp
*.bak
*.swp
*~
*.orig

# === OS metadata ===
.DS_Store
Thumbs.db
desktop.ini
